*:focus {
  outline: none !important;
}

nav ul a {
  font-size: 14px;
}

.input-field label {
  left: 0;
}

[type="checkbox"] + label {
  width: 100%;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $text-color;
}