.shoes-filter-container
  p.title Refine by
  .content
    = simple_form_for @shoe_filter, url: shoes_path, html: { method: :get }, remote: true do |f|
      p.label Brands
      = f.collection_check_boxes :brand_ids, @brands, :first, :last
      = hidden_field_tag 'shoe_filter[min_price]'
      = hidden_field_tag 'shoe_filter[max_price]'
      p.label Price
      #slider

  coffee:
    $('#new_shoe_filter input').change ->
      $('form#new_shoe_filter').submit()

    slider = document.getElementById('slider')
    
    noUiSlider.create slider,
      start: [
        0
        200
      ]
      connect: true
      step: 50
      range:
        'min': 0
        'max': 200

    slider.noUiSlider.on 'change', (values, handle) ->
      $('#shoe_filter_min_price').val values[0]
      $('#shoe_filter_max_price').val values[1]
      $('form#new_shoe_filter').submit()